body {
    background: url("../img/burger1.jpg") no-repeat center fixed;
    background-size: cover;
    color: #f5f5f5;
}

li {
    padding: 10px;
}

.burg {
    background-color: rgba(98, 105, 128, 0.5);
}

.burg1 {
    margin-top: 10px;
    background-color: rgba(98, 105, 128, 0.5);
}

h1 {
    color: #f5f5f5;
}

.col.s10.burg {
    padding-bottom: 15px;
}

button {
    color: #93A5B1;
}

label {
    color: #f5f5f5;
}